.actived {
    border: 4px solid rgb(33, 169, 174);
    border-radius: 10px;
}

.carLink {
    text-decoration: none;
    color: black;
}

.CarCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.CarCard {
    margin-top: 30px;
}