.card {
    margin-bottom: 20px;
}

.card:hover {
    border: 2px solid rgb(9, 229, 237);
    border-radius: 10px;
}

.carLink {
    text-decoration: none;
    color: black;
}

.CarCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.CarCard {
    margin-top: 30px;
}